@page "/empresas/cadastrar"
@rendermode InteractiveServer

@inject EmpresaService empresaService
@inject TelefoneEmpresaService telefoneEmpresaService
<!-- EnderecoEmpresaService EnderecoEmpresaService -->

<title>Empresas</title>

<h3 class="mb-2">Empresas</h3>

<hr class="mb-3">

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-success">Cadastrar</button>
    </div>
      <div class="form-check form-switch col-auto text-right">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar somente inativas</label>
        </div>
  </div>
</div>

<p>asdjoasidjoaisdjasdjaojdaoijdsoiaojis</p>

@code {

}