@page "/register"
@rendermode InteractiveServer

@inject UsuarioService UsuarioService
@inject PessoaService pessoaService

<PageTitle>Register</PageTitle>
<title>Register</title>

<EditForm Model="Pessoa">



</EditForm>
