<div class="container mb-4">
    <div class="">
        <Title Titulo="@Titulo" />
    </div>
</div>

<div class="container-fluid">
  <div class="row mb-4">
    <div class="col">
      <BotaoCadastro UrlCaminho="/empresas/cadastrar" />
    </div>
    <div class="col-3 text-right align-content-end mb-1">
        <div class="form-check form-switch col-auto text-right">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar somente inativas</label>
        </div>
    </div>
  </div>
</div>

@code {
    [Parameter]
    public string Titulo { get; set; }
}