@using System.Collections
<!-- TabelaGenerica.razor -->
<table class="table">
    <thead>
        <tr>
            @foreach (var prop in PropriedadesVisiveis)
            {
                <th>@prop</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Items != null && Items.Count > 0)
        {
            @foreach (var item in Items)
            {
                <tr>
                    @foreach (var prop in PropriedadesVisiveis)
                    {
                        <td>@GetPropertyValue(item, prop)</td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="100%">Nenhum dado disponível</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ICollection Items { get; set; }

    [Parameter]
    public List<string> PropriedadesVisiveis { get; set; }

    private string GetPropertyValue(object item, string propName)
    {
        var prop = item.GetType().GetProperty(propName);
        if (prop != null)
        {
            return prop.GetValue(item)?.ToString() ?? "";
        }
        return "";
    }
}
